// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#menu {
    background-color: #000;
    height: 100%;
    position: fixed;
    top: 0;
    width: 240px;
    left: -240px;
    z-index: 1;
    }
  .icon-close {
	position: absolute;
	top: 18px;
	right: 33px;
	cursor: pointer;
}
#menu .li {color:white;}
  .home-main h1 {
	color: #fff;
	font-weight: 100;
	margin-bottom: 30px;
	text-shadow: 0 2px 3px rgba(0,0,0,0.4);

}
.home-main {
	background: url(/assets/13435420_1155693314462217_7266115296017966010_n.jpg) no-repeat center center;
	background-size: cover;
	height: 700px;
}
.home-main .content {
	position: relative;
	top: 150px;
	text-align: center;
}

h1 {
	font-size: 50px;
}
.h1, .h2, .h3, h1, h2, h3 {
	margin-top: 20px;
	margin-bottom: 10px;
}
.home-supporting, .home-about, .about-supporting {
	text-align: center;
}
.home-secondary {
	background: url(/assets/home-secondary-afc0677adb14766e42df768244930249.jpg) no-repeat center center;
	background-size: cover;
	height: 700px;
}
#icon-menu {
	position: absolute;
	top: 18px;
	left: 30px;
	cursor: pointer;
}